language: python

dist: xenial

matrix:
    include:
      - python: 3.5
        env: TOX_ENV=py35
      - python: 3.6
        env: TOX_ENV=py36
      - python: 3.7
        env: TOX_ENV=py37
      - python: 3.8
        env: TOX_ENV=py38
      - python: 3.6
        env: TOX_ENV=flake8
      - python: 3.6
        env: TOX_ENV=coverage

install:
  - pip install -U tox

script:
  - tox -e ${TOX_ENV}

after_success:
  - coveralls

deploy:
  provider: pypi
  distributions: "sdist bdist_wheel"
  user: $PYPI_USERNAME
  password: $PYPI_PASSWORD
  skip_existing: true
  on:
    tags: true
    repo: mstuttgart/pycep-correios
    condition: ${TOX_ENV} == py36
