pip==8.1.2
bumpversion==0.5.3
wheel==0.29.0
watchdog==0.8.3
flake8==3.3.0
tox==2.3.1
coverage==4.1
Sphinx==1.4.8
cryptography==1.7
PyYAML==3.11
requests==2.13.0
coveralls==1.1
Jinja2==2.9.6
alabaster==0.7.10
appdirs==1.4.3
argh==0.26.2
arrow==0.10.0
Babel==2.4.0
binaryornot==0.4.3
bumpversion==0.5.3
cffi==1.10.0
chardet==3.0.3
click==6.7
cookiecutter==1.5.1
coverage==4.1
coveralls==1.1
cryptography==1.7
docopt==0.6.2
docutils==0.13.1
flake8==3.3.0
future==0.16.0
Genshi==0.7
idna==2.5
imagesize==0.7.1
Jinja2==2.9.6
jinja2-time==0.2.0
MarkupSafe==1.0
mccabe==0.6.1
packaging==16.8
pathtools==0.1.2
pluggy==0.3.1
poyo==0.4.1
py==1.4.33
pyasn1==0.2.3
pycep-correios==1.1.6
pycodestyle==2.3.1
pycparser==2.17
pydocstyle==2.0.0
pyflakes==1.5.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.11
requests==2.13.0
rst2html5==1.9.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.8
sphinxcontrib-websupport==1.0.1
tox==2.3.1
virtualenv==15.1.0
watchdog==0.8.3
whichcraft==0.4.1
